<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="books" ng-controller="BookController">
    <md-card md-theme="default" md-theme-watch="" class="_md md-default-theme book-card {{book.hover}}" ng-repeat="book in books">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{book.title}}</span>
        <span class="md-subhead">{{book.year}}</span>
      </md-card-title-text>
    </md-card-title>
  <md-card-content layout="row" layout-align="space-between" class="layout-align-space-between-stretch layout-row">
    <div class="md-media-xl card-media">
    <img class="bookImage" src="{{book.image}}"/></div>
    <md-card-actions layout="column" class="layout-column">
      <md-button id="infoBtn" class="md-icon-button" ng-click="booky.info(book.id, $event)">
        <i class="material-icons lightBlue500">info</i>
      </md-button>
      <md-button id="favBtn_{{book.id}}" class="md-icon-button favBtn" ng-click="booky.favorite(book.id);">
        <i class="material-icons lightBlue500">favorite</i>
      </md-button>
      <md-button id="settingBtn" class="md-icon-button">
        <i class="material-icons lightBlue500">face</i>
        <md-tooltip>
          <div>
            Personnages principaux <br>
            {{book.tooltip}}
          </div>
        </md-tooltip>
      </md-button>
    </md-card-actions>
  </md-card>
</div>
<script type="text/ng-template" id="popup.html">
 <md-dialog ng-controller="DialogController"  ng-model="dialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}} </h2>
        <span flex></span>
        <md-button id="settingBtn" class="md-icon-button" ng-click="cancel();">
          <i class="material-icons indigo100">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{subtitle}}</h2>
        <p>
          {{desc}}
        </p>

        <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="img/mangues.jpg">

        <p>
          {{desc2}}
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="{{link}}" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="close()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>
