
/*
 *  cards
 */
md-card md-card-content {
  align-self: center;
  font-weight: bold;
}

md-card md-card-actions {
  align-self: center;
}

md-card:hover {
  box-shadow: 0 5px 15px rgba(30,136,229,0.5);
}

.book-card {
  max-width:300px;
  max-height: 500px;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.material-icons.lightBlue500 {
  color: #03A9F4;
}

.bookImage {
  margin-left: 80px;
}

/*
 *  buttons
 */
button {
  transition: all .7s ease-in-out;
}
button:hover {
  transform: scale(1.5);
}

.favBtn {
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 53%;
}

.favBtn.animated {
  -webkit-transform: rotateY(360deg) scale(2);
   transform: rotateY(360deg) scale(2);
}
