
/*
 *  cards
 */
md-card md-card-actions {
  align-self: center;
}

md-tooltip .md-content {
    height: auto;
}

.book-card {
  max-width:300px;
  max-height: 500px;
}

.book-cardRed:hover {
  box-shadow: inset 0px 0px 10px 2px rgba(255, 0, 0, 0.7);
}

.book-cardGreen:hover {
  box-shadow: inset 0px 0px 10px 2px rgba(31, 143, 62, 0.7);
}

.book-cardBlue:hover {
  box-shadow: inset 0px 0px 10px 2px rgba(30, 136, 229, 0.7);
}

.book-cardYellow:hover {
  box-shadow: inset 0px 0px 10px 2px rgba(246, 226, 86, 0.7);
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.material-icons.lightBlue500 {
  color: #03A9F4;
}

.bookImage {
  margin-left: 80px;
}

/*
 *  buttons
 */
button {
  transition: all .7s ease-in-out;
}
button:hover {
  transform: scale(1.5);
}

.favBtn {
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 53%;
}

.favBtn.animated {
  -webkit-transform: rotateY(360deg) scale(2);
   transform: rotateY(360deg) scale(2);
}
